$sideBlue =  #396498
$pageColor = #e9f0f0
$textColor = #223
// $accentColor = #7755aa

body,html
  background-color: $pageColor
  font-family: Raleway,Lato,serif

.navbar
  height: 4.5rem
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4)
  background-color: white

  .site-name
    background: url(/tfr-logo.png) left no-repeat
    color: #00000000
    padding-left:275px
    padding-top: 15px

  .links
    padding-top: 5px

.custom-block
  text-align: left

.header
    height: 200px

.home
  padding: 0 0
  width: 100%
  max-width: none

  .hero h1,h2,p
    padding: 0 1rem

  .hero img
    object-fit: none
    object-position: center
    height: 250px
    width: 100%
    margin: 0

  .features
    padding: 2rem 2rem
    margin: 0 auto
    max-width: 940px
    border: 1px dotted $sideBlue

  .features h2
    font-weight: bold
    text-align: center
    text-decoration: underline

  .features
    font-size: 0.85rem

  .footer
    background-color: $sideBlue
    color: #ccb
    font-size: 0.85rem;

  .content.custom
      max-width: 960px
      margin: auto

.page
  .tip,.warning,.danger
    box-shadow: 2px 3px 3px rgba(0,0,0,0.2)
  .tip
    background-color: #f8f8f8

  .content
    padding-top: 150px
    max-width: 900px
    text-align: justify

  .content h1,h2,h3
    color: #448

  .content h1
    background: url(/tiny-logo.png) left no-repeat
    padding-top: 0px
    padding-left: 60px
    margin-left: -65px

  .content h2
    border-bottom: solid 1px #aac


.page-edit
    border-top: solid 1px #ccc
    padding: 0.5rem 40px

.sidebar
  background-color: $sideBlue
  padding-top: 50px
  width: 18rem

  .sidebar-heading
    color: white
    font-weight: normal

  .sidebar-heading.open
    color: white

  .sidebar-link
    color: #eed
  .sidebar-link.active
    color: #ff4
    border-left-color: #ff4
  a.sidebar-link:hover
    color: #ff4


.del,.ins{ display: inline-block; margin-left: 0.5ex; }
.del     { background-color: #fcc; }
      .ins{ background-color: #cfc; }


pre:first-of-type { width: 78%; margin-left: auto; margin-right: auto; }
.file-start + p + pre,
.file-start + pre { margin-left: 61.8%; }
.file-start,
.hunk-start{ text-align: right; }

.file-start code{ font-size: inherit; }

.file-start/*:not(:first-of-type)*/{
    display: none;
    font-size: 150%;
    margin-top: 3rem;
    border-bottom: 1ex solid #ccc;
    padding-bottom: 1ex;
}
.hunk-start{
    margin-top: 2ex;
    border-bottom: 0.5ex dashed #ccc;
    padding-bottom: 1ex;
}

@media (max-width: 960px)
  .home
    .features
      margin: 2rem
    .content.custom
      margin: 2rem
    .hero h1,h2,p
      padding: 0 0.5rem
    .features
      .feature
        padding: 0rem 0rem

  .page
    .content h1
      background: none
      padding-top: 0px
      padding-left: 0px
      margin-left: 0px

  .page
    .content
      text-align: left
  .sidebar
      width: 16rem

@media (max-width: 500px)
  .navbar
    .site-name
      color: $accentColor
      background: url(/tiny-logo.png) left no-repeat
      padding-left: 50px
      padding-top: 10px

@media (max-width: 1500px)
  .page
    .content
      max-width: 780px

