$sideBlue = #5f86b0;
$pageColor = #eeeeeb;
$textColor = #223;
$accentColor = #7755aa;

body,html
  background-color: $pageColor
  font-family: Raleway,Lato,serif

html.home
  background-color: $sideBlue

.navbar
  height: 4.5rem
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4)
  background-color: white

  .site-name
    background: url(/tfr-logo.png) left no-repeat
    color: #00000000
    padding-left:275px
    padding-top: 15px

  .links
    padding-top: 5px

.custom-block
  text-align: left

.header
    height: 200px

.home
  padding: 0 0
  width: 100%
  max-width: none

  .hero img
    object-fit: none
    object-position: center
    height: 250px
    width: 100%
    margin: 0

  .features
    padding: 2rem 2rem
    margin: 0 auto
    max-width: 940px

  .features h2
    font-weight: bold
    text-align: center
    text-decoration: underline

  .footer
    background-color: $sideBlue
    color: #ddc
    font-size: 0.85rem;

  .content.custom
      max-width: 960px
      margin: auto

.page
  .tip,.warning,.danger
    box-shadow: 2px 3px 3px rgba(0,0,0,0.2)
  .tip
    background-color: #f8f8f8

  .content
    padding-top: 50px
    max-width: 900px
    text-align: justify

    .topic-card-detail
      color: $textColor

    .topic-card:hover
      text-decoration: none
      box-shadow: 2px 5px 8px rgba(20,0,80,0.4)

  .content h1,h2,h3
    color: #448

  .content h2
    border-bottom: solid 1px #aac

.page-edit
    border-top: solid 1px #ccc
    padding: 0.5rem 40px

.sidebar
  background-color: $sideBlue
  padding-top: 20px
  width: 18rem

  .sidebar-heading
    color: white
    font-weight: normal

  .sidebar-heading.open
    color: white

  .sidebar-link
    color: #eed
  .sidebar-link.active
    color: #ff4
    border-left-color: #ff4
  a.sidebar-link:hover
    color: #ff4

@media (max-width: 960px)
  .home
    .features
      margin: 2rem
    .content.custom
      margin: 2rem
  .page
    .content
      text-align: left
  .sidebar
      width: 16rem

@media (max-width: 500px)
  .navbar
    .site-name
      color: $accentColor
      background: url(/tiny-logo.png) left no-repeat
      padding-left: 50px
      padding-top: 10px

@media (max-width: 1500px)
  .page
    .content
      max-width: 780px

