body,html
    background-color: #eeeeea
    font-family: Lato,Raleway,serif
    color: #111

.navbar
  height: 4.5rem
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4)
  background-color: white


  .site-name
    padding-left:275px
    background: url(/tfresource/tfr-logo.png) left no-repeat
    padding-top: 15px

  .links
    padding-top: 5px

.header
    height: 200px

.home
  padding: 0
  padding-left: 0
  margin-left: 0
  width: 100%
  max-width: none

  .hero img
    object-fit: none
    object-position: center
    height: 250px
    width: 100%
    margin: 0

.home
  .features
    max-width: 960px
    padding: 2rem 0
    margin: auto

  .features h2
    font-weight: bold
    text-align: center
    text-decoration: underline

  .content.custom
      max-width: 960px
      margin: auto

.navbar
  .site-name
    color: #00000000

.page
  .content
    padding-top: 50px

@media (max-width: 1000px)
  .home
    .features
      margin: 2rem
    .content.custom
      margin: 2rem


@media (max-width: 500px)
  .navbar
    .site-name
      color: #2b8
      background: url(/tfresource/tiny-logo.png) left no-repeat
      padding-left: 50px
      padding-top: 10px

