// defaults
$textColor = #223
$sideBlue =  #eaeaea
$pageColor = #f4f4f4
$mediumZoomZIndex = 10000
$accentColor = #4a4
$contentWidth = 700px
$codeBgColor = #455
$navbarHeight = 3.1rem
$arrowBgColor = #4a4
$navbar-bg = #258