// defaults
$textColor = #181825
$sideBlue =  #eaeaea
$pageColor = #f8f8f8
$mediumZoomZIndex = 10000
$accentColor = #393
$contentWidth = 700px
$codeBgColor = #455
$navbarHeight = 3.1rem
$arrowBgColor = #4a4
$navbar-bg = #258
$sideSection = #277
$acronymPopup = #369